$background-color: #4584b6;
$text-color: #ffde57;

%setPage {
    width: 100%; height: 100%;
    overflow-x: hidden;
}

html, body {
    @extend %setPage;
    background-color: $background-color;
}
.startPage {
    @extend %setPage;
    img {
        width: 70%;
    }
}